{:kotoba.app/id "cloud.itonami.isic-2432", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreicnd5dgu4dgle67bu7dqkvkgijospvhwwiyol4pupaunnji5mqufy", :kotoba.app/embed-url "ipfs://bafkreicnd5dgu4dgle67bu7dqkvkgijospvhwwiyol4pupaunnji5mqufy", :published {:archive "https://kotobase.net/ipfs/bafkreicnd5dgu4dgle67bu7dqkvkgijospvhwwiyol4pupaunnji5mqufy", :size 73411, :put-status 201, :get-status 200, :at "2026-08-15T13:47:20.738Z"}}
